<!DOCTYPE html>
<html>
<body>   
    <div>
        @RenderBody()
        <hr />
        <footer>
           
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
