<div id="main">
	<nav class="navbar navbar-expand-lg navbar-dark" id="menu">
		<div class="container">
			<a class="navbar-brand" href="Index"><img src="~/img/navinest logo.png" class="~/img-rounded" alt="Cinque Terre"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="menu-content">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Agents
						</a>
						<div class="dropdown-menu">
							<a href="AgentList" class="dropdown-item">Agent List</a>
							<a href="Agent" class="dropdown-item">Agent Profile</a>
						</div>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto">


					<li class="nav-item dropdown user-account">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="user-image" style="background-image:url(' img/demo/profile3.jpg');"></span> Hi, Khairul
						</a>
						<div class="dropdown-menu">
							<a href="my_profile.html" class="dropdown-item">My Profile</a>
							<a href="my_password.html" class="dropdown-item">Change Password</a>
							<a href="my_notifications.html" class="dropdown-item">Notifications</a>
							<a href="my_membership.html" class="dropdown-item">Membership</a>
							<a href="my_payments.html" class="dropdown-item">Payments</a>
							<a href="my_account.html" class="dropdown-item">Account</a>
						</div>
					</li>
					<li class="nav-item add-listing"><a class="nav-link" href="my_listing_add.html"><span><i class="fa fa-plus" aria-hidden="true"></i> Add listing</span></a></li>
				</ul>

			</div>
		</div>
	</nav>
	<div class="clearfix"></div>
	<div id="content">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col col-lg-12 col-xl-10">
					<div class="row has-sidebar">
						<div class="col-md-5 col-lg-4 col-xl-4">
							<div id="sidebar" class="sidebar-left">
								<div class="sidebar_inner">
									<div class="list-group no-border list-unstyled">
										<span class="list-group-item heading">Manage Listings</span>
										<a href="my_listing_add.html" class="list-group-item active"><i class="fa fa-fw fa-plus-square-o"></i> Add Listing</a>
										<a href="my_bookmarked_listings.html" class="list-group-item d-flex justify-content-between align-items-center">
											<span><i class="fa fa-fw fa-bookmark-o"></i> Bookmarked Listing</span>
											<span class="badge badge-primary badge-pill">10</span>
										</a>
										<a href="my_listings.html" class="list-group-item d-flex justify-content-between align-items-center">
											<span><i class="fa fa-fw fa-bars"></i> My Listings</span>
											<span class="badge badge-primary badge-pill">7</span>
										</a>
										<span class="list-group-item heading">Manage Account</span>
										<a href="my_profile.html" class="list-group-item"><i class="fa fa-fw fa-pencil"></i> My Profile</a>
										<a href="my_password.html" class="list-group-item"><i class="fa fa-fw fa-lock"></i> Change Password</a>
										<a href="my_notifications.html" class="list-group-item"><i class="fa fa-fw fa-bell-o"></i> Notifications</a>
										<a href="my_membership.html" class="list-group-item"><i class="fa fa-fw fa-cubes"></i> Membership</a>
										<a href="my_payments.html" class="list-group-item"><i class="fa fa-fw fa-credit-card"></i> Payments</a>
										<a href="my_account.html" class="list-group-item"><i class="fa fa-fw fa-cog"></i> Account</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-lg-8 col-xl-8">
							<div class="page-header bordered">
								<h1>Submit your property <small>We've over 15 Lac buyers and tenants for you!</small></h1>
							</div>
							<form action="index.php">
								<h3 class="subheadline">Basic Details</h3>
								<div class="form-group">
									<label for="title">Property Title</label>
									<input type="text" class="form-control form-control-lg" id="title" placeholder="Property Title" autofocus>
								</div>
								<div class="form-group">
									<label>For Sale/Rent?</label>
									<div>
										<div class="radio radio-inline">
											<input type="radio" name="type" id="rent" value="rent">
											<label for="rent">Rent</label>
										</div>
										<div class="radio radio-inline">
											<input type="radio" name="type" id="sale" value="sale">
											<label for="sale">Sale</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Price (In RM)</label>
									<input type="text" class="form-control form-control-lg" placeholder="Price (In RM)">
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="bedrooms">Bedrooms</label>
											<select name="bedrooms" id="bedrooms" class="form-control form-control-lg ui-select">
												<option value="0">0</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7+">7+</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="bathrooms">Bathrooms</label>
											<select name="bathrooms" id="bathrooms" class="form-control form-control-lg ui-select">
												<option value="0">0</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5+">5+</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Area Sq/ft</label>
											<input type="text" class="form-control form-control-lg" placeholder="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>MLS No.</label>
											<input type="text" class="form-control form-control-lg" placeholder="">
										</div>
									</div>
								</div>
								<h3 class="subheadline">Location</h3>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label>Location</label>
											<input type="text" class="form-control form-control-lg" id="autocomplete" placeholder="Enter your location">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Address</label>
											<input type="text" class="form-control form-control-lg" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label>City</label>
											<input type="text" class="form-control form-control-lg" placeholder="" id="locality">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>State</label>
											<input type="text" class="form-control form-control-lg" placeholder="" id="administrative_area_level_1">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label>Country</label>
											<input type="text" class="form-control form-control-lg" placeholder="" id="country">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Zipcode</label>
											<input type="text" class="form-control form-control-lg" placeholder="" id="postal_code">
										</div>
									</div>
								</div>
								<div class="form-group">
									<h3 class="subheadline">Additional Features</h3>
									<div class="feature-list three_cols">
										<div class="checkbox">
											<input type="checkbox" id="Garden">
											<label for="Garden">Garden</label>
										</div>
										<div class="checkbox">
											<input type="checkbox" id="Gym">
											<label for="Gym">Gym</label>
										</div>
										<div class="checkbox">
											<input type="checkbox" id="Internet">
											<label for="Internet">Internet</label>
										</div>
										<div class="checkbox">
											<input type="checkbox" id="Pool">
											<label for="Pool">Swimming Pool</label>
										</div>
										<div class="checkbox">
											<input type="checkbox" id="Window">
											<label for="Window">Window Covering</label>
										</div>
										<div class="checkbox">
											<input type="checkbox" id="Parking">
											<label for="Parking">Parking</label>
										</div>
										<div class="checkbox">
											<input type="checkbox" id="School">
											<label for="School">School</label>
										</div>
										<div class="checkbox">
											<input type="checkbox" id="Bank">
											<label for="Bank">Bank</label>
										</div>
										<div class="checkbox">
											<input type="checkbox" id="Metro">
											<label for="Metro">Metro</label>
										</div>
										<div class="checkbox">
											<input type="checkbox" id="Airport">
											<label for="Airport">Airport</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Property Description</label>
									<textarea class="form-control form-control-lg text-editor" placeholder=""></textarea>
								</div>
								<div class="form-group">
									<h3 class="subheadline">Upload Photos</h3>
									<div class="ui-dropzone">
										<div class="icon"></div>
										<div>Drag and drop images or click to upload</div>
										<input type="file" class="form-control form-control-lg" id="gallery" multiple>
									</div>
								</div>
								<div class="form-group">
									<div class="checkbox">
										<input type="checkbox" id="featured">
										<label for="featured">Yes‚ feature this listing. </label>
									</div>
								</div>
								<hr>
								<div class="form-group">
									<button type="submit" class="btn btn-lg btn-primary">Submit Property</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="btn btn-primary btn-circle" id="to-top"><i class="fa fa-angle-up"></i></button>
	<footer id="footer">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col col-md-10">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<p><span class="icon-uilove-realestate"></span></p>
							<address>
								<strong>Twitter, Inc.</strong><br>
								1355 Market Street, Suite 900<br>
								San Francisco, CA 94103<br>
								<abbr title="Phone">P:</abbr> (123) 456-7890
							</address>
							<p class="text-muted">
								Copyright &copy; 2016<br />
								All rights reserved
							</p>
						</div>
						<div class="col-md-2  col-sm-4">
							<ul class="list-unstyled">
								<li><a href="#">About</a></li>
								<li><a href="#">Team</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Plans</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-4">
							<ul class="list-unstyled">
								<li><a href="#">For Rent</a></li>
								<li><a href="#">For Sale</a></li>
								<li><a href="#">Commercial</a></li>
								<li><a href="#">Agents</a></li>
								<li><a href="#">Property Guides</a></li>
								<li><a href="#">Jobs</a></li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="social-sharebox"> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-youtube-play"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a> </div>
							<form>
								<h4>Subscribe Newsletter</h4>
								<div class="input-group input-group-lg">
									<input type="email" class="form-control form-control-lg" placeholder="Email Address">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="button">Go!</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<script>
	var placeSearch, autocomplete;
	var componentForm = {
		//street_number: 'short_name',
		//route: 'long_name',
		locality: 'long_name',
		administrative_area_level_1: 'long_name',
		country: 'long_name',
		postal_code: 'long_name'
	};

	function initAutocomplete() {
		autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), { types: ['geocode'] });
		autocomplete.addListener('place_changed', fillInAddress);
	}

	function fillInAddress() {
		var place = autocomplete.getPlace();
		for (var component in componentForm) {
			document.getElementById(component).value = '';
			document.getElementById(component).disabled = false;
		}

		for (var i = 0; i < place.address_components.length; i++) {
			var addressType = place.address_components[i].types[0];
			if (componentForm[addressType]) {
				var val = place.address_components[i][componentForm[addressType]];
				document.getElementById(addressType).value = val;
			}
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete" async defer></script>
<script>
	tinymce.init({
		selector: '.text-editor',
		height: 200,
		menubar: false,
		branding: false,
		plugins: [
			'lists link image preview',
		],
		toolbar: 'undo redo | link | formatselect | bold italic underline  | alignleft aligncenter alignright alignjustify | bullist numlist'
	});
</script>